::ng-deep p-table{
    width: 100% !important;
}

.display_flex_center{
    display: flex;
    align-items: center;
}
.submit_btn{
    margin-left: 10px;
}
.text-38px{
    font-size: 38px;
}
.text-align-right{
    text-align: right;
}